/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #2E3D38;
  background: #CCE5E1;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}

a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: #CCE5E1;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: #637772;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: #5FAD9E;
}


/*Header*/

header {
  text-align: center;
  background: url('images/6-09 [Converted]-03.png') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid white;
  border-color: #DCEFE8;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.4) rotate(5deg);
}
.tag {
  background-color: transparent;
  color: #637772;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.location {
  background-color: #CCE5E1;
  color: #637772;
}

/*Main Card Layout on the first page*/
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #DCEFE8;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

.card h2 { color: #637772; }
.card p {color: #637772;}

.web-links:hover { color: #5FAD9E;  }
.card:hover {
  border-color: #5FAD9E;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #5FAD9E;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #5FAD9E;
}
li {
             color: #637772;
             margin-bottom: 6px;
           }

.experience h2 { padding: 0px;
                margin-top: 60px;
                margin-bottom: 0px;
}

/*Main layout on the Second page*/
table { 
    border-spacing: 32px;
}


 td {
  max-width: 300px; 

    text-align: left;
    margin-bottom: 24px;
}


.company {width: 120px;
          padding-right: 80px}

 .company-image{ 
                    height: 100px;
                    width: 100px;
                    margin: auto; }

.description { color: #637772;
                 position: relative;
                /*left: 160px;*/
                width: 100%;
                border: 0px solid #73AD21;
                padding: 24px;
                text-align: left


}
.article-info {display: inline;
               
                /*height: 100%;
                width: 25%;*/}
.company-div { width: 100px;
                height: 100px;
                 }

article {margin-bottom: 64px;}

p {max-width:500px

 }
.date {text-align: center;}


    
/*Footer*/

 
footer {
  margin:auto;
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
  text-align: center;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 0;
}

footer ul li {
  display: inline-block;

}



a.social {
  display: inline-block;
  text-align: center;
  margin: 40px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(twitter.svg);
}
a.linkedin {
  background-image: url(linkedin.svg);
}
a.github {
  background-image: url(github.svg);
}
a.social:hover {
  color: #5FAD9E;
  opacity: 1;
}
.clearfix {
  clear: both;
}

a.svg {
  position: relative;
  display: inline-block;
}


a.svg:after {
  content: ""; 
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
}



/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    color:#637772;
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

